@font-face {
	font-family: "Roboto";
	src: url('webfonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: "Roboto-Thin";
	src: url('webfonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: "Roboto-Mono";
	src: url('webfonts/Roboto-Mono.ttf');
}
#body {
	font-family: "Roboto-Thin";
	margin:0;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	background-color:#121212;
	background-image:url('background/triangles.png'),url('background/back_cubes.png');
	background-repeat:no-repeat,no-repeat;
	background-size:125%,110%;
	background-position: top,top; 
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	min-width:48.5rem;
}
iframe
{
	margin: 0px;
	height: calc(100% - 60px);
	width: 100%;
	border: 0px;
}
.iframe-style {
	min-width:30rem;
	max-width:100%;
	margin-top:0px;
	margin-bottom:15px;
	width:100%;
	table-layout: fixed;
	border:0;
}
td {
	vertical-align: text-bottom;
}
.table-style {
	min-width:30rem;
	max-width:100%;
	margin-top:0px;
	margin-bottom:20px;
	width:100%;
	table-layout: fixed;
	border:0;
}
.table-header {
	margin-top: 20px;
	margin-left: 24px;
	width: 100%;
	table-layout: fixed;
	border: 0;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 600;
}
.table-header2 {
	margin-left: 24px;
}
.table-input-top {
	margin-top: 20px;
	width: 100%;
	table-layout: fixed;
	border: 0;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 600;
	padding-right: 20px;
}
.dashboard .table-input-top td {
	padding-left:15px;
	background-color: transparent;
}
.table-input-top2 {
	padding-left: 15px;
}
.table-header-top {
	margin-top: 0px;
}
div {
	font-family: "Roboto";
	font-size:.8rem;
	color: #eeeeee;
	background-color: transparent;
}
.data {
	font-size: .8rem;
	background-color: transparent;
	border:0;
}
.data input,
.data a {
	background-color: transparent;
	color: #00abff;
	font-size: 2rem;
	font-family: "Roboto-Thin";
	border:0;
	border-bottom:0px solid #151933;
	margin-left:0px;
	text-decoration:none;
}
.data_left input
{
	margin-left:20px;
}
input {
	font-family: "Roboto-Thin";
	border: 0px solid #1d244a;
	font-size: .8rem;
	line-height: 1rem;
	padding:5px;
	color:#eeeeee;
	background-color:#121212;
	border-radius: 0.25rem;
}
#log_level {
	color:#454545;
	margin-left: 5px;
	margin-right: 5px;
}
.blocks_hash a {
	color:#00abff;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select:none;
	user-select:none;
}
input, button, textarea, :focus {
	outline:none; 
}
.tab {
	overflow: hidden;
	background: transparent;
}

.tab button {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid transparent;
	border-bottom:0px;
	padding: 0.5rem 1rem;
	font-size: .8rem;
	line-height: 1;
	border-radius: 0rem;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	color: #eeeeee;
	background-color: transparent;
	background-image: none;
	margin-left:0rem;
}
.tab .tablinks1 {
	margin-left:20px;
	padding-left: 20;
}

.tab button:hover {
	background-color: #1e1e1e;
	border: 2px solid transparent;
	border-bottom:0px;
}

.tab button.active {
	color: #eeeeee;
	background-color: #1e1e1e;
	border: 2px solid transparent;
	border-bottom:0px;
}

.tabcontent {
	height:calc(100% - 625px);
	display: none;
	padding: 0px 20px;
	min-width:30rem;
	max-width:100%;
	margin-bottom:20px;
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: #00000050; 
}

::-webkit-scrollbar-thumb {
	background: #eeeeee50; 
}

::-webkit-scrollbar-thumb:hover {
	background: #eeeeee50; 
}

div#log, 
div#workers, 
div#blocks, 
div#help {
	font-family: "Roboto-Thin";
	color:#eeeeee;
	background-color:#1e1e1e;
	border:0px solid #eeeeee;
	border-radius: 0rem;
	padding:5px;
	padding-left:15px;
	height:100%;
	overflow: auto;
}
div#help {
	line-height:20px;
}
div#help a
{
	color:#eeeeee;
}
input#daemon_command_input {
	height: 15px;
	width: calc(100% - 10px);
	background-color: #00000050;
	border-radius: 0;
	text-indent: 15px;
}
.data_gps input {
	font-family: "Roboto-Thin";
	background-color: transparent;
	border:0;
	font-size:2rem;
}
.data_gps {
	font-size:2rem;
}
.reset button {
	text-decoration: none;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0px solid #1d244a;
	padding: 0.2rem .4rem;
	font-size: .8rem;
	line-height: .8;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	color: #00abff;
	background-color: #ffffff07;
	background-image: none;
	cursor:pointer;
}
.reset button:hover {
	color: #00abff;
	background-color: #ffffff50;
	border: 0px solid #ffffff50;
}
.reset button:active {
	color: #00abff;
	background-color: #ffffff50;
	border: 0px solid #ffffff50;
}
.reset button.active {
	color: #00abff;
	background-color: #ffffff50;
	border: 0px solid #ffffff50;
}
.table-style .top-line td {
	padding-bottom: 5px;
	border-bottom: 0px solid #000000;
}
.table-style .no-top-line td {
	border-bottom: 0;
	background-color: transparent;
}

.dashboard td, .topbar {
	background-color:#1e1e1e;
}
.right-border1 {
	border-right:0px solid #151933;
}
.bottom-left-corner {
	padding-bottom: 10px;
}
.bottom-right-corner {
	padding-bottom: 10px;
}
.btn {
	text-decoration: none;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0px solid #1d244a;
	padding: 0.2rem .4rem;
	font-size: .8rem;
	line-height: .8;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	color: #00abff;
	background-color: transparent;
	background-image: none;
	cursor:pointer;
}
.active, .btn:hover {
	color: #00abff;
	background-color: #ffffff50;
}

.logo{
	padding-left: 15px;
	padding-top: 15px;
	display:block;
	text-align:left;
}

.toplinks {
	text-align: right;
	padding-right: 20px;
	vertical-align: top;
	cursor: pointer;
}
.toplinks a {
	font-family: "Roboto-Thin";
	color: #eeeeee;
	padding-right: 25px;
	vertical-align: top;
	text-decoration: none;
}

.dropbtn {
	font-family: "Roboto-Thin";
	text-align:left;
	background-color: #121212;
	color: white;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	border: none;
	cursor: pointer;
	width: 163px;
}
.dropbtn:before {
	content: "";
	position: absolute;
	right: 6px;
	top: 9px;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #eeeeee;
}
.dropbtn:after {
	content: "";
	position: absolute;
	right: 6px;
	top: 7px;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #121212;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #121212;
	min-width: 163px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content button{
	font-family: "Roboto-Thin";
	color: #eeeeee;
	text-align:left;
	background-color: transparent;
	border: none;
	padding: 4px 12px;
	text-decoration: none;
	display: block;
	width:100%;
	cursor: pointer;
}
.dropdown-content a:hover {
	color: #000000;
	background-color: #eeeeee
}

.show {display:block;}

 /* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #121212;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #00abff;
}

input:focus + .slider {
	box-shadow: 0 0 1px #121212;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
} 
